<main class="master">
  <div class="container">
    <div class="jumbotron">
      <p class="lead d-none d-md-block" style="font-weight: bold">
        AdminClient
      </p>
      <p class="lead">
        <a class="btn font-menu-button" routerLink="trace-db">Trace Datenbank</a>
        <a class="btn btn-outline-primary" routerLink="count-db">Count Datenbank</a>
        <a class="btn btn-outline-primary" routerLink="user">Chat-Nutzer</a>
      </p>
    </div>
  </div>
</main>

<section></section>
