.master .lead {
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  width: 80%;
  font-size: 2rem;
  color: #fff;
}

.master .jumbotron {
  background: #388838 linear-gradient(135deg, #388838, #58a357);
}

.master .btn {
  color: #ffffff;
  border-color: #ffffff;
}

.master .btn:hover {
  background-color: transparent;
  outline: none;
}
